body{
    background-color:black;
}
header{
    background-color:black;
    width: 90%;
    margin-top: -1800px;
    margin-left: 131px;
    

}
header .btn-dark{
   outline: none;
   border: none;

}
header .btn-dark:hover{
    opacity: 80%;
   
}
.box-div{
    
    margin-left: -20px;
    position: absolute;
    background-color: black;
    outline: none;
    width: 100%;
    background-image: url(/video/frog_-_113403\ \(540p\).mp4);
    
}

.my-con1{
    width: 140px;
    height: 1800px;
    margin-left: -1px;
    background-color:black;
  }


.dropdown{
    top: 70px;
    display: flex;
    position: relative;
    width: 130px;
    padding-top: 20px;
}
.dropdown-content{
    display: none;
    
}
.dropdown-content a{
    color: black;
    padding: 5px;
    margin-top: 2px;
    color: white;
    display: block;
    margin-left:-5px;
    text-decoration: none;

}

.dropdown:hover .dropdown-content{
    display: block;
}

.nav-link{
    color: whitesmoke;
}
.nav-link:hover{
    color: hsla(10px,30%,100%,.09);
}
/* backhround video */

.video-container {
    height: 500px;
    width: 90%;
    left: 135px;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 3px;
  position: absolute;
  object-fit: cover;
  filter: brightness(40%);
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  color: #dc0000;
  padding: 10px;
  display: flex;
  position: sticky;
}

.watch-now{
    margin-top: 25px;
    background-color:hsla(0,0%,100%,.08);
    color: white;
    padding: 8px 70px 8px 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}
.ic-add{
    position: relative;
    left: 8px;
    background-color: hsla(0,0%,100%,.08);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px 8px 16px;
}

/* slide animation */
.container-my{
     height: 350px;
     margin: auto;
     position: relative;
     width: 30%;
     margin-top: -45px;
     left:440px;
     top: -75px;
     display: grid;
     place-items: center;
     overflow: hidden;
}
.slide-container{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0%{transform: translateX(0);}
    100%{transform: translateX(calc(-140px * 9));}
}
.slide-image{
    width: 80px;
    height: 50px;
    display: flex;
perspective: 100px;
}
.scroll-images{
    width: 100%;
    transition: transform 1s;
}
.scroll-images:hover{
    transform: translateZ(20px);
}
.java-images{
    position: relative;
    width: 310%;
   margin-left: 0px;
   padding: 30px 130px 0px 130px;
}
.carousel-control-prev {
    width: 40px;
   position: absolute;
   left: 120px;
   top: 20px;
}
.carousel-control-next {
    width: 40px;
   position: absolute;
   top: 20px;
}
.jjjj{
    background-color: red;
    height: 300px;
    width: 59%;
    position: relative;
    left: 20%;
}

/* slide show using js  */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    

    .wrapper{
    width: 90%;
    margin-left: 145px;
    margin-top: -10px;
    
    
    }
    .carousel{
    max-width: 1900px;
    margin: auto;
    padding: 0 10px;
    }
    .carousel .card{
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 250px;
    font-size: 90px;
    font-weight: 600;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    }
    .carousel .card-1{
   background-color: black;
    }
    .carousel .card-2{
   background-color: black;
    }
    .carousel .card-3{
  background-color: black;
    }
    .carousel .card-4{
  background-color: black;
    }
    .carousel .card-5{
    background-color: black;
    }
    .carousel .card-6{
        background-color: black;
        }
        .carousel .card-7{
            background-color: black;
            }
    .owl-dots{
    text-align: center;
    margin-top: 40px;
    }
    .owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    }
    .owl-dot.active,
    .owl-dot:hover{
    background: #0072bc!important;
    }

    .card{
        padding=0;
        
      }
      .card-wrapper{
        
      }